body{
width: 100%;
max-width: 1020px;
}

.portfolio{
    height: 870px;
    background:#2d303a ;
    border-bottom: 6px solid #323746;
}
h1{
    font-family: 'Lato-black', sans-serif;
    color: #666d89;
    font-size: 30px;
    padding-left: 40px;
    padding-top: 66px;
}
.about{
    font-family: 'Lato-light',sans-serif;
    color: #666d89;
    font-size: 18px;
    padding-left: 40px;
}
.navigation{
    padding-left: 40px;
    padding-bottom: 5px;
}

.nav1,
.nav2,
.nav3,
.nav4{
    text-decoration: none;
    font-family: 'Lato-regular',sans-serif;
    font-size: 12px;
    color:#767e9e;
    border: 1px solid #767e9e;
    border-radius: 15%;
    padding: 5px;
}

.nav2,
.nav3,
.nav4{
    margin-left: 10px;
}
a:hover{
    border:1px solid #ffffff;
    color:#ffffff;
}
.container1,
.container2,
.container3,
.container4{
    display: flex;
}
.box1,
.box5,
.box9{
   padding-left: 40px;
   padding-top: 19px;
}
.box2,
.box3,
.box4,
.box6,
.box7,
.box8,
.box10,
.box11,
.box12
{
    padding-left: 20px;
    padding-top: 19px;
}

.about_as{
    height: 734px;
    background: #f2f2f2;
    border-bottom: 6px solid #ffffff;
}
.logo{
    font-family: 'Lato-black', sans-serif;
    color: #666d89;
    font-size: 30px;
    margin: 0;
    padding-left: 40px;
    padding-top: 66px;
}
.text{
    font-family: 'Lato-light', sans-serif;
    font-size: 18px;
    color:#767e9e;
    padding-left: 40px;
    padding-right: 40px;
 
}
.boxAdam{
    background: url(assets/Adam.png) no-repeat;
    width: 300px;
    height: 300px;
    margin-left: 40px;
    margin-top: 26px;
}
.Adam,
.Desmond,
.Scolara{
    font-family: 'Lato-Light', sans-serif;
    font-size: 18px;
    color:#666d89;
    padding-top: 300px;
}
.textAdam,
.textDesmond,
.textScolara{
    font-family: 'Lato-Regular',sans-serif;
    font-size: 12px;
    color:#767e9e;
    margin-bottom: 30px;
}
.boxDesmond{
    background: url(assets/Desmond.png) no-repeat;
    width: 300px;
    height: 300px;
    margin-left: 20px;
    margin-top: 26px;
}
.boxScolara{
    background: url(assets/Scolara.png) no-repeat;
    width: 300px;
    height: 300px;
    margin-left: 20px;
    margin-top: 26px;
}
